.result {
    background-color: $bg-cream;
    position: relative;
    &__container {
        padding: 60px 0 620px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            background-image: url('../images/src/footer-bg.png');
            background-repeat: no-repeat;
            width: 872px;
            height: 495px;
            top: 113px;
            left: -31px
        }
    }
    &__text {
        padding-left: 30px;
        position: relative;
        max-width: 440px;
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 4px;
            top: 0;
            left: 0;
            background-color: $blue;
        }
    }
    &__bottom {
        position: absolute;
        right: 0;
        bottom: 80px;
        max-width: 220px;
    }
    .useful-result {
        &__label {
            display: inline-block;
            margin-bottom: 15px;
        }
        &__btn {
            margin-top: 40px;
        }
        &__link {
            color: $blue;
            path {
                fill: $blue;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        &__content {
            position: relative;
        }
    }

    &__parallax {
        position: relative;
        z-index: 2;
        img {
            position: absolute;
            margin-top: 260px;
            left: 26%;
            z-index: 1;
        }
    }

    @media screen and (max-device-width:500px) {
        &__parallax img {
            margin-top: 90px;
        }
    }

    @media (max-width: 600px) {
        &__parallax img {
            margin-top: 95px;
        }
    }


    &__slider {
        position: absolute;
        width: 100%;
        top: 37%;
        left: 0;
        right: 0;
        z-index: 1;
        overflow-x: visible;
        transform: translateX(-65%);
        img {
            max-width: none;
        }
    }

    &__boots {
        top: -60%;
        left: 120%;
    }
    &__suit {
        top: 53%;
        left: -35%;
    }

}
