html {
    box-sizing: border-box;
    overflow-x: hidden;
}

@media screen and (max-device-width:1700px) {
    html,
    body {
        overflow-x: auto;
    }

}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body {
    min-width: 320px;
    position: relative;
    font-family: sans-serif;
    color: $text-color;
    overflow-x: hidden;
}

strong {
    font-weight: 700;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.text--bold {
    font-weight: 700;
}

.icon-link {
    position: relative;
    transition: .2s ease;
    max-width: max-content;
    display: flex;
    align-items: center;
    path {
        transition: fill .2s ease;
    }
    &:hover {
        color: $blue;
    }
    &:hover path {
        fill: $blue;
    }
    span {
        display: inline-block;
        margin-left: 15px;
    }
}

h1.title {
    font-weight: 700;
    font-size: 60px;
}

h2.subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

button {
    font-family: 'Roboto', sans-serif;
}

.title-blue {
    text-transform: uppercase;
    display: inline-block;
    background-color: $blue;
    font-size: 60px;
    color: #fff;
    padding: 13px 15px 19px;
    font-size: 60px;
    font-weight: 900;
    span {
            font-size: 60px;
            font-weight: 900;
            color: $yellow;
    }
}

.subtitle {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items--center {
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.btn {
    font-weight: 700;
    display: inline-block;
    padding: 20px 22px;
    background-color: $blue;
    color: #fff;
    transition: .1s ease-in;
    &:hover {
        background-color: $btn-hover;
    }
}
