@mixin x-center {
  left: 50%;
  transform: translateX(-50%);
}

@mixin y-center {
  top: 50%;
  transform: translateY(-50%);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
